.registration_cssave{
    padding:50px 0;
    display: flex;
    justify-content: center;    
  }
  
.form {
    max-width:800px;
    padding:50px 70px;
    border-radius:10px;
    box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
    background-color: white;
}
  
.text_center {
    font-weight:bold;
    margin-bottom:30px;
}
  
.item {
    border-radius:10px;
    margin-bottom:25px;
    padding:10px 20px;
    border: 1px solid black;
}
  
.create_account {
    border-radius:30px;
    padding:10px 20px;
    font-size:18px;
    font-weight:bold;
    background-color:#3f93ff;
    border:none;
    color:white;
    margin-top:20px;
}
  
@media (max-width: 576px) {
    .registration_cssave form {
      padding:50px 20px;
    }
}

.invalid_value {
    animation: shake 0.5s; 
    animation-iteration-count: 2;
    border: 2px solid red;
}
  
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}